/* RESET & BASE */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-spacing:0;border-collapse:collapse;}
img {max-width: 100%; height: auto;}
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* GENERAL */

body {
  color: #404040;
}

.row-1 {
  margin: auto;
  max-width: 800px;
}

.row-2 {
  margin: auto;
  max-width: 700px;
}

/* HEADER */

.title-nav {
  margin-top: 30px;
  margin-bottom: 60px;
}

.title-nav h1 {
  color: #1e1e1e;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

.title-nav h1 a {
  color: #1e1e1e;
  text-decoration: none;
}

.title-nav-slash {
  color: #adadad;
}

/* CONTENT AREA */

em { 
  font-style: italic; 
}

strong { 
  font-weight: bold; 
}

small {
  font-size: smaller;
}

pre {
  display: block;
  margin: 0 0 10px;
  padding: 9.5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.5;
}

.content-area {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.content-area p {
  margin-bottom: 25px;
}

.content-area a {
  color: #404040;
}

.content-area img {
  display: block;
  margin: .5em auto;
}

.content-area ol li, .content-area ul li {
  margin-bottom: 1.5em;
}

.content-area ol, .content-area ul {
  margin-bottom: 1em;
  padding-left: 1.5em;
}

.content-area ul li:before {
  position: absolute;
  content: "—";
  text-indent: -1.4em;
}

.content-area ol {
  list-style-type: decimal;
}

.content-area blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 3px solid #cecece;
  color: #3f3f3f;
}

.content-area figure {
  margin-bottom: 30px;
}

.content-area figcaption {
  color: #666665;
  text-align: center;
  font-style: italic;
  font-size: .7em;
  line-height: 1.6;
}

.content-area small {
  line-height: 1.2;
}

.content-area h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

.content-area h2 {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 28px;
  line-height: 1.3;
}

.content-area h3 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}

.content-area h5 {
  margin-top: 60px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 1.3;
}

.content-area hr {
  display: block;
  margin: 70px auto 60px auto;
  max-width: 120px;
  border: 0;
  border-top: 1px solid #dededc;
}

/* INDEX PAGE */

.index {
  padding-top: 5%;
  background-color: #000;
  background-image: url(/assets/bridge.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.index .title-nav h1 {
  color: #fff;
  font-weight: normal;
  font-size: 25px;
}

.about {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.about a {
  color: #fff;
}

.about p {
  margin-bottom: 30px;
}

/* SINGLE ENTRY */

.entry-header {
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
}

  .entry-header a {
    text-decoration: none;
  }

.entry-title {
  color: #2c3a48;
  font-weight: bold;
  margin-bottom: 3px;
}

  .entry-title a {
    color: #2c3a48;
  }

.entry-subtitle {
  color: #7F8C8D;
  font-weight: normal;
}

  .entry-subtitle a {
    color: #7F8C8D;
  }

.single-entry {
  margin-top: 60px;
  margin-bottom: 60px;
}

.single-entry .entry-header {
  margin-bottom: 40px;
  text-align: center;
}

.single-entry .entry-title {
  margin-bottom: 10px;
  font-size: 55px;
}

.single-entry .entry-subtitle {
  font-size: 22px;
  line-height: 1.5;
}

.single-entry .entry-cover {
  margin-top: 25px;
}

.entry-body {
  font-size: 24px;
  font-family: "PT Serif", serif;
  line-height: 1.7;
}

.entry-footer {
  margin-top: 100px;
}

.entry-timestamp {
  position: relative;
  color: #b3b3b1;
  white-space: nowrap;
  font-size: 12px;
  font-family: "PT Sans", sans-serif;
}

.single-entry .entry-timestamp:before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 40px;
  border-top: 2px solid #f1f1f1;
  content: "";
}

.small-image {
  padding: 5px;
  max-width: 500px; 
  border: 1px solid #f1f1f1;
}

.side-note {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: .75em;
}

.side-note:before {
  display: block;
  margin: 30px auto 20px auto;
  width: 30%;
  border-top: 1px solid #dededc;
  content: "";
}

.side-note:after {
  display: block;
  margin: 20px auto 30px auto;
  width: 30%;
  border-top: 1px solid #dededc;
  content: "";
}

/* RECENT ENTRIES */

.entry-list .entry {
  margin-bottom: 150px;
}

.entry-list .entry-cover {
  margin-bottom: 20px;
}

.entry-list .entry:last-child {
  margin-bottom: 40px;
}

.entry-list .entry-title {
  font-size: 35px;
  line-height: 1.3;
}

.entry-list .entry-subtitle {
  font-size: 22px;
  line-height: 1.5;
}

.read-link {
  color: #2c3a48;
  text-decoration: none;
  font-weight: bold;
  font-size: .75em;
  font-family: 'PT Sans', sans-serif;
}

.archive-link {
  display: block;
  margin-bottom: 40px;
  color: #b3b3b1;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-family: 'PT Sans', sans-serif;
}

/* ARCHIVE */

.archive-list li {
  margin-bottom: 25px;
  max-width: 600px;
  font-size: 23px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.4;
}

.archive-list li a {
  text-decoration: none;
}

/* RESPONSIVE */

@media (max-width: 769px) {

  .row-1, .row-2 {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 100%;
  }

  .side-note:before {
    width: 60%;
  }

  .side-note:after {
    width: 60%;
  }

}

@media (max-width: 600px) {

  .row-1, .row-2 {
    padding: 0 10px;
    max-width: 100%;
  }

  .about {
    font-size: 20px;
  }

  .entry-body {
    font-size: 18px;
  }

  .small-image {
    max-width: 100%;
  }

  .single-entry .entry-header h1 {
    font-size: 30px;
    line-height: 1.3;
  }

}